<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="bootstrap.css">
</head>
<body>
	<div class="row" style="background-color: grey">
		<% for(i=0;i<result.length;i++){ %>
		<div class="col-md-4">
		LastName:	<%= result[i].lastname %><br>
		FirstName:		<%= result[i].firstname %><br>
		Phno	:	<%= result[i].number %><br><br>

		</div>
<% } %>
	</div>
</body>
</html>